---
const {img, contenido, filtro} = Astro.props
---
<style define:vars={{filtro}}>
    .button{
        display: flex;
        width: 120px;
        padding: 8px;
        background-color: none;
        border: none;
        justify-content: center;
        gap: 10px;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border: 2px solid transparent;
        &:hover{
            background-color: rgba(0, 0, 0, .1);
            border: 2px solid lightgray;
        }
    }
    .button img{
        filter: var(--filtro)
    }
    p{
        font-size: 1.2em;
        font-weight: bolder;
    }
</style>
<button class="button">
    <img src={img} alt="xd">
    <p>{contenido}</p>
</button>