---

const {numero, cancion, minutos} = Astro.props
---

<style>
    .audio{
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        color: black; 
    }
    .audio_container{
        display: block;
        max-width: 1100px;
        margin-inline: auto; 
        border: 1px solid lightgray;
        &:hover{
            background-color: rgba(171, 171, 171, .1);
        }
    }
    .audio_left{
        display: flex;
        gap: 20px;
    }
</style>
<a href="#" class="audio_container">
    <article class="audio">
        <div class="audio_left">
            <p>{numero}</p>
            <p>{cancion}</p>
        </div>
        <div class="audio_right">
            <p>{minutos}</p>
        </div>
    </article>
</a>
