---
import Link from "@/components/Link.astro";
---

<style>
    .nav{
        border: 1px solid red;
        display: flex;

    }

</style>

<nav class="nav">
    <Link enlace="/">Inicio</Link>
    <Link enlace="/about">About</Link>
    <Link enlace="/contact">Contact</Link>
    <Link enlace="/services">Services</Link>
</nav>