---
import Nav from "@/components/Nav.astro"
import { ViewTransitions } from 'astro:transitions'
import "@/style/global.css"
const {title} = Astro.props
---


<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions />
	</head>
	<body>
        <Nav/>
		<slot />
	</body>
</html>